@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@400;500;700&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;1,8..144,100;1,8..144,600&display=swap');
/* style */
@import url(./title-paragraph.css);
@import url(../components/button.css);
@import url(./l-main/l-main.css);
@import url(./l-header/l-header.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    width: 100vw;
    height: 100vh;
}
