@import url(./components/title-text.css);
@import url(./l-header/l-header.css);
@import url(./components/button.css);
@import url(./l-main/l-main.css);

:root {
    --gray-dark: #515151;
    --gray-light-shade: #989D9C;
    --gray: #848484;
    --blue-magenta: #665AE1;
    --yellow-green: #ADFF00;
    --cyan-blue-light: #6EA8DA;

    /* font-size */
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}

body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    padding: .5rem;
}
