.l-header {
    display: none;
}

@media screen and (min-width: 890px) {
    .l-header {
        display: flex;
        margin-top: 44px;
        margin-bottom: 10px;
        margin-left: 70px;
        align-items: baseline;
    }

    .header__nav {
        gap: 23px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 1.5rem;
        align-items: center;
    }
     
    .header__nav-list {
        display: flex;
        gap: 23px;
        font-size: 1.5rem;
    }

    .header__nav-itens {
        color: var(--gray-light-shade);
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }
    
    .header__nav-itens:hover {
        color: var(--cyan-blue-light);
        text-decoration: underline;
    } 
}