.l-main {
    display: block;
    width: 100vw;
    height: 100%;
}

.main__wrap {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 50px 5px;
} 

.div__wrap {
    text-align: -webkit-center;
    max-width: 540px;
    margin: 0 auto;
}

@media (min-width: 820px) {
    .l-main {
        display: inline-block;
        width: 100vw;
    }
    
    .main__wrap {
        display: inline-block;
        width: 60%;
        height: 100vh;
        position: absolute;
        left: 0;
        margin: 0 auto;
    } 
    
    .div__wrap {
        position: relative;
        padding: 0 30px;
        top: 37%;
        left: 0;
        text-align: start;
    }
} 

@media  (min-width: 1020px) {
    .main__wrap {
        display: inline-block;
    } 
    
    .div__wrap {
        padding-left: 30px;
        padding-right: 50px;
        text-align: start;
        top: 30%;
    }
} 
