h2, p {
    color: #5D5D7D;
    font-family: Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    text-transform: capitalize;
} 

p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    h2 {
        font-size: 70px;
        line-height: 80px;
        max-width: 368px;
    }

    p {
        font-size: 28px;
        line-height: 48px; 
        max-width: 540px;
    }
}
