
button {
    border-radius: 10px;
    border: none;
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    cursor: pointer;
    color: #FFFF;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: var(--font-wg-secondary);
    width: 280px;
    margin-top: 1rem;
}

@media (min-width: 820px) {
    button {
        height: 4.625rem;
    }
}
