body {
    background-color: #101010;
    background-image: linear-gradient(180deg, #101010 0%, #161616 28%, #3f1414 63%, #871717 81%, #dc2323 100%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}