.l-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2rem;
}

.section__img {
    max-width: 568px;
    height: auto;
}

.img__bg {
    width: 100%;
    height: auto;
}

.container__wrap {
    display: flex;
    flex-direction: column;
    max-width: 515px;
    height: auto;
    align-items: center;
    gap: .5rem;
}

@media screen and (min-width: 890px) {
    .l-section  {
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 84px;
        margin-left: 125px;
        margin-right: 100px;
    }
    .container__wrap {
        align-items: flex-start;
    }
}