* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    width: 100vw;
    height: 100vh;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 500px;
    height: auto;
    border-radius: 10px;
    background-color: gold;
    gap: 10px;
    padding: 10px;
}

h2 {
    color: gray;
}

input {
    font-size: 26px;
}

button {
    padding: 10px;
    font-size: 26px;
    background-color: darkgreen;
    border-radius: 10px;
    border: none;
    color: orchid;
    margin-top: 20px;
    transition: ease-in-out .2s;
}

button:hover {
    color: red;
    opacity: .7;
    transform: scale(1.1);
}