
.l-header {
    width: 100%;
    height: auto;
    margin: 20px 0;
    text-align: end;
}

.header__link {
    display: none;
}

.header__btn {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 91px;
    height: 31px;
    margin-right: 15px;
    transition: ease 1s;
}

.header__btn:hover {
    color: black;
    transform: scale(1.1);
}

@media (min-width: 720px) {
    .l-header {
        padding-left: 42px;
        text-align: start;
    }

    .header__link {
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        color: #17233D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.875px;
        margin-right: 36px;
        cursor: pointer;
    }
    
    .header__link:hover {
        text-decoration: underline;
        color: cornflowerblue;
    }
    
    .header__btn:hover {
        color: black;
    }

    .header__btn {
        width: 124px;
        height: 51px;
    }
}
