
.l-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.div__img {
    max-width: 595.178px;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.section__wrap {
    max-width: 580px;
}

.main__link {
    color: #6FBF44;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

.main__link:hover {
    text-decoration: underline;
    color: cornflowerblue;
}

@media (min-width: 820px) {
    .l-main {
        flex-direction: row;
        margin-top: 100px;
    }

    .div__img {
        width: 50%;
        height: auto;
    }
    
    .section__wrap {
        width: 50%;
        height: auto;
        text-align: start;
    }
}

@media (min-width: 1280px) {
    .l-main {
        width: 100%;
        justify-content: center;
        gap: 50px;
    }
    .div__img {
        margin-left: 100px;
    }
}   
