.btn {
    border: none;
    cursor: pointer;
}

.btn__open-menu, .btn__close-menu {
    font-size: 2rem;
    display: none;
    background: var(--cyan-blue-light);;
    font-weight: bold;
    color: aliceblue;
    transition: all 0.5s;
    width: auto;
}

.btn__open-menu {
    display: none;
    margin-right: 2rem;
}

.btn__open-menu:hover, .btn__close-menu:hover {
    color: #000000;
    transition: all 0.5s;
}

.btn__nav {
    text-transform: uppercase;
    font-size: inherit;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    color: white;
    background-color: var(--blue-magenta);
    font-weight: 600;
}

.btn__nav:hover {
    color: black;
}

.btn__main{
    margin-top: 24px;
    background-color:var(--yellow-green);
    color: black;
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 239px;
    height: 64px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn__main:hover {
    color: white;
}

@media screen and (min-width: 890px) {
    .btn__open-menu, .btn__close-menu {
        display: none;
    }

    .btn__main {
        margin: 0;
    }
    
    }