.title__primary, .title__secondary {
    color: var(--gray-dark);
}

.title__primary {
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}

.title__secondary {
    font-size: 8vw;
    text-transform: capitalize;
    font-weight: 500;
}

.text__primary {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray);
    margin-top: 32px;
    margin-bottom: 65px;
    display: none;
}

@media screen and (min-width: 890px) {
    .title__primary {
        font-size: 6.25rem;
    }

    .title__secondary {
        font-size: 3.625rem;
    }

    .text__primary {
        display: block;
    }
}