* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    align-items: center;
    gap: 50px;
    height: 100%;
}

.container__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

input {
    border-radius: 5px;
    border: none;
    height: 2rem;
    width: 100%;
    cursor: pointer;
    font-size: 1.3rem;
    padding-left: 10px;
}

.btn-grad {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
    margin-top: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#search__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 0 20px;
    min-width: 300px;
}

#text__return {
    font-size: 1.3rem;
    color: black;
    text-transform: capitalize;
}

#search__return {
    color: #FFF;
    font-size: 1.5rem;
    text-transform: capitalize;
}

@media (min-width: 820px) {
    main {
        margin-top: 20vh;
    }

    .container__wrap {
        gap: 20px;
    }

    h2 {
        font-size: 3rem;
    }

    input {
        height: 3rem;
        font-size: 2rem;
    }

    .btn-grad {
        margin-top: 20px;
    }

    #search__result {
        gap: 20px;
        padding: 80px;
    }

    #text__return {
        font-size: 2rem;
    }

    #search__return {
        font-size: 2rem;
    }
}